.service__color{
    color: #eca408e8;
    background-color: rgb(46, 44, 44);
    padding: 20px;
}

.service__font{
    font-family: sans-serif;
    font-size: 32px;
}

.service__color__light__gray{
    color: #898989;
}
.service__color__golden{
    color: #c5a880;
}

.service__bg__gray{
    background-color: #333;
}
.service__bg__red{
    background-color: red;
}
.service__bg__green{
    background-color: green;
}


.service__flex{
    display: flex;
}
.service__align__center{
    align-items: center;
}

.service__justify__center{
    align-items: center;
}
.service__grid{
    display: grid;
}
.service__grid__col__3{
    grid-template-columns: repeat(3, 1fr);
}

.service__card{
    /* width: 28%; */
    height: auto;
    border: #898989 solid 1px;
    transition: all .5s;
}

.service__card:hover{
    border: #c5a880 solid 1px;
}

/* .service__border{
    border: #898989 solid 1px;
} */

@media screen and (max-width: 771px) {
    .service__grid__col__3{
        grid-template-columns: 1fr;
    }
}