/* 
    Author: Robera Insarmu
    Github: https://github.com/rinsarmu
    Skills: HTML, CSS, JS, React, Java, C++, 
    Academical status: ungraduated Software Engineering
    Year: Dec 31, 2022
    Location, Jimma, Ethiopia

*/

.footer{
    color: #ffffb3;
    padding: 20px;
    margin-top: 2rem;
    background-color: #1a1a1a;
    padding: 2rem;
}

.footer li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);

}

.footer li:hover{
    color: #c5a880;
}



.footer a{
    /* color: rgba(255, 255, 255, 0.7); */
    color: rgba(255, 255, 255, 0.5);

    text-decoration: none;
    padding: 8px;
}

.footer a:hover{
    color: #c5a880;


}

.footer h1{
    font-size: 20px;
    margin-bottom: 40px;
}



.footer__font{
    font-family: sans-serif;
    font-size: 32px;
}

.footer{
    width: 100%;
}

.footer--container{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    /* align-items: center; */
    background-color: inherit;
    color: inherit;
}

        /* About Footer section  */
.about--footer{
    /* font-size: 62.5%; */
    /* background-color: rgb(26, 18, 122); */
    width: 400px;
}

.hotel--name{
    font-family: "Nunito", Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: 400;
}

.about--footer p{
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);

}



.about--footer-social-medias{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.li-social-medias{
    list-style: none;
    /* background-color: #454444; */
    padding: 12px 8px;
    /* background-color: #313131;
     */
    background-color: #252424;
    margin: 3px;
    border-radius: 3px;


    /* display: none; */
}
.about--footer-social-medias{
    margin-top: 1.5rem;
    justify-content: flex-start;
}
.about--footer-social-medias ul li a span{
    text-decoration: none;
    color: #fff;
    list-style: none;
    /* margin-top: 15px; */
}




/* Services */

.service--footer{
    /* background-color: red; */
    width: 450px;
    line-height: 28px;
}

.amenities--container{
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;

}

.amenities--li{
    padding-top: 5px;
}

/* End of services */

.links--footer{
    background-color: green;
}

.location{
    background-color: aquamarine;
}


/* Responsiveness */


@media screen and (max-width: 960px) {
    
    .footer--container{
        flex-direction: column;
        row-gap: 2rem ;
    }
    .footer, .about--footer p{
        font-size: 20px;
    }

    .about--footer{
        width: 100%;
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    
    .footer--container{
        flex-direction: column;
        row-gap: 2rem ;
    }
    .footer, .about--footer p{
        font-size: 20px;
    }

    .about--footer{
        width: 100%;
        font-size: 30px;
    }
}

@media screen and (max-width: 390px) {
    
    .amenities--container{
        flex-direction: column;
        row-gap: 1.5rem ;
    }
}

