.footer{
    color: #ffffb3;
    padding: 20px;
    margin-top: 2rem;
    background-color: #1a1a1a;
    padding: 2rem;
}

.footer__font{
    font-family: sans-serif;
    font-size: 32px;
}

.footer{
    width: 100%;
}

.footer--container{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    /* align-items: center; */
    background-color: inherit;
    color: inherit;
}

        /* About Footer section  */
.about--footer{
    /* font-size: 62.5%; */
    background-color: rgb(26, 18, 122);
    width: 400px;
}

.hotel--name{
    font-family: "Nunito", Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: 400;
}

.about--footer p{
    font-size: 16px;
    line-height: 28px;
}



.about--footer-social-medias{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.li-social-medias{
    list-style: none;

    /* display: none; */
}
.about--footer-social-medias ul li a span{
    text-decoration: none;
    color: #fff;
    list-style: none;
}




/* Services */

.service--footer{
    background-color: red;
}

.links--footer{
    background-color: green;
}

.location{
    background-color: aquamarine;
}

