.restBar {
  padding: 5% 0px;
  margin: 3% 1%;
  width: 100%;
  background-color: #f8fafc;
  text-align: center;
}
.restBar__header {
}

.restBar__header .header__small {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.5em;
  color: #c5a880;
}

.restBar__header .header__large {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: "Old Standard TT", serif;
  font-size: 44px;
  line-height: 1.5em;
  font-weight: 400;
}
.restBar__menus {
  display: flex;
  padding-left: 10%;
  gap: 10px;
  margin-top: -10px;
  margin-bottom: 20px;
}
.link,
.link:focus {
  border: none;
}
.restBar__menus .link {
  text-decoration: none;
  text-transform: capitalize;
  color: #c5a880;
  background-color: transparent;
  letter-spacing: 1px;
  padding: 0px 10px 5px;
}

.restBar__menus .current__link {
  border-bottom: solid thin #c5a880;
}
.restBar__main {
  height: 100vh;
  margin: 50px 10px auto;
  padding: 5px;
  display: flex;
  gap: 2%;
  justify-content: center;
}

.restBar__main .main__left {
  flex-basis: 35%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restBar__main .main__left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restBar__main .main__right {
  flex-basis: 60%;
  display: flex;
  flex-flow: column;
}

.main__right .main__right__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  overflow-y: hidden;
  border: solid thin rgba(255, 0, 0, 0.327);
  padding: 10px;
  border-radius: 2px;
}
.restBar__card {
  flex-basis: 49%;
  display: flex;
  min-height: 120px;
  justify-content: space-around;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.restBar__card .card__image {
  transform: scale(0.7);
  flex-basis: 27%;
  height: auto;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.restBar__card .card__image img {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate(-50%);
}

.restBar__card .card__content {
  align-self: center;
  flex-basis: 40%;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.restBar__card .card__price {
  flex-basis: 27%;
  color: #c5a880;
  font-size: 24px;
}
.restBar__card:hover {
  background-color: #222222;
}
.restBar__card:hover .card__content {
  color: white;
}

.slide--up {
  animation: slideUp 0.5s forwards;
}
.slide--left {
  animation: slideLeft 0.5s forwards;
}
.slide--right {
  animation: slideRight 0.5s forwards;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 1250px) {
  .restBar__menus .link {
    font-size: 18px;
  }
  .restBar__main {
    height: auto;
    margin: 50px 10px auto;
    padding: 5px;
    display: flex;
    flex-flow: column;
    gap: 5%;
    justify-content: flex-start;
  }

  .restBar__main .main__left {
    flex-basis: 350px;
    margin: 2%;
    margin-bottom: 7%;
  }
  .restBar__card {
    flex-basis: 45%;
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .restBar__menus .link {
    font-size: 18px;
  }
  .restBar__main {
    height: auto;
    margin: 50px 10px auto;
    padding: 5px;
    display: flex;
    flex-flow: column;
    gap: 5%;
    justify-content: flex-start;
  }

  .restBar__main .main__left {
    flex-basis: 200px;
    margin: 2%;
    margin-bottom: 7%;
  }
  .restBar__card {
    flex-basis: 95%;
    min-height: 150px;
  }
  .restBar__card .card__image {
    height: auto;
    transform: scale(0.6);
  }
}
